In [31]:
# from index until end
print('012345'[3:])
# substring
print('0123456'[2:5])
# stop index - "up to but not including"
print('012345'[:3])

345
234
012

In [32]:
# step size
print('01234567'[::]) # step size 1
print('01234567'[::2]) # step size 2

01234567
0246

In [33]:
# step size with start/stop
'0123456789'[3:8:2]

'357'

In [34]:
#negative step size to reverse
'01234567'[::-1]

'76543210'

In [35]:
# cat with +
'abc' + ' and ' + 'def'

'abc and def'

In [36]:
# repeat with *
print('x ' * 10)

x x x x x x x x x x

In [37]:
lower_string = 'abcdef'
my_string = lower_string.upper()
print(my_string)

ABCDEF

In [38]:
'this is a list'.split()

['this', 'is', 'a', 'list']

In [39]:
'this is a list'.split('i')

['th', 's ', 's a l', 'st']

In [40]:
# string interpolation with {} and .format
'this is a string with {} and {}'.format('var1', 'var2')

'this is a string with var1 and var2'

In [41]:
# insert vars by index
'The {2} {1} {0} jumps over the lazy dog.'.format('fox', 'brown', 'quick')

'The quick brown fox jumps over the lazy dog.'

In [42]:
# insert vars by name
'The {q} {b} {f}'.format(f='fox', b='brown', q='quick')

'The quick brown fox'

In [53]:
# Float formatting: {value:width.precision f}
"The value is {x:.5f}".format(x=120000/77)

'The value is 1558.44156'

In [54]:
name = 'New Guy'

In [55]:
# f-string literals
f'The name is {name}'

'The name is New Guy'